html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
  background-size: cover;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  color: blue;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: purple
}

li {
  float: right;
}

li a {
  display: block;
  color: orange;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

p {
  color: pink;
  font-size: 20px;
  text-align: left;
}

iframe {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 40%;
  height: 40%;
}

.column {
  float: left;
  width: 33.33%;
  height: 33.33%;
}

img {
  width: 100%;
  height: 100%;
}

.side_text {
  color: pink;
  text-align: left;
  font-size: 20px;
}

.side_img {
  float: left;
  width: 50%;
  height: 50%;
}

.profile {
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 9999px;
    height: 50px;
    width: 50px;
}
